{% extends '_blank.html' %}
{% block content %}
    <h1>Welcome to 西码物联卡数据采集监控平台！</h1>
    <br/>
    <div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
                    <a href="http://127.0.0.1:5000/adminlogin"><input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;管&nbsp;&nbsp;&nbsp;&nbsp;理&nbsp;"></a>

				</div>
			</div><br/>
    <div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
					<a href="http://127.0.0.1:5000/userlogin"><input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;用&nbsp;&nbsp;&nbsp;&nbsp;户&nbsp;"></a>
				</div>
			</div><br/>
    <div class="row cl">
				<div class="formControls col-xs-8 col-xs-offset-3">
					<a href="http://127.0.0.1:5000/regist"><input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;册&nbsp;"></a>
				</div>
			</div><br/>
{% endblock %}